## Roll Rate Analysis

En esta sección, se va a utilizar *Roll Rate Analysis* con el fin de poder determinar de una manera más acorde a los datos, aquellos clientes que se pueden identificar como buenos o malos, dependiendo de cuántos días de atraso se registran en el pago de sus cuentas.

Para efectos prácticos, se va a tomar como puntos de análisis, el último mes y el mes anterior, también se va a ignorar a los clientes que para esa fecha no cuentan con un préstamo registrado.

In [1]:
import pandas as pd 
import numpy as np 

# Se actualiza el formato de números flotantes
pd.options.display.float_format = '{:,.2f}'.format

## 1. Carga de datos

In [2]:
credit = pd.read_csv('../data/credit_record.csv')
credit

              ID  MONTHS_BALANCE STATUS
0        5001711               0      X
1        5001711              -1      0
2        5001711              -2      0
3        5001711              -3      0
4        5001712               0      C
...          ...             ...    ...
1048570  5150487             -25      C
1048571  5150487             -26      C
1048572  5150487             -27      C
1048573  5150487             -28      C
1048574  5150487             -29      C

[1048575 rows x 3 columns]

In [4]:
# Validamos la cantidad de ID (clientes) únicos
credit['ID'].nunique()

45985